$page-background-color: #fcfcfc;
// Fonts
$header-font: OpenSans-Bold;

// Components border color
$component-border: #f2f2f2;

//Mobile header
$mobile-header-bg: #fff;

// Header colors
$header-links-color: #858585;
$header-links-color-hover: #333333;
$header-button-color: #6272c7;

// Sections colors
$section-background: #fff;
$section-title-underline: #ffc050;

// What We Do
$bar-background: #f2f2f2;
$bar-progress1: #ffc050;
$bar-progress2: #6272c7;
$bar-progress3: #ffc050;

// Design section
$text-color: #333333;

// Jax Teller 
$jax-background: #fff;

// Logos 
$logos-background: #fff;

// Ad {start your website}
$ad-background: #fae9c9;

// Footer
$footer-background: #081f26;
$footer-text: #fff;
$milu-after: #ffc050;
$data-color: #9ca5a8;
$media-circle-bg: #fff;

body{
  background-color: $page-background-color;
}

.content-wrapper{
  padding: 0 16px;
  .component {
    margin-bottom: 16px;
    color: #333333;
  }
}



header{
  margin: 20px 16px;
  .header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  }
  .desktop-nav{
    display: none;
    li a{
      padding: 4px;
    }
  }

  .mobile-nav{
    align-items: center;
    display: flex;
    .hamburger{
      background-color: inherit;
      border: none;
      color: #000;
    }
  }
}

.component-wrapper{
  padding: 16px;
  background: $section-background;
}

.growing-button{
  position: relative;
  top: 0;
  text-transform: uppercase;
  // margin-top: 20px;
  padding: 16px 35px;
  max-width: 150px;
  width: 100%;
  border-radius: 24px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.33;
  background-image: linear-gradient(to right, #828fd3 0%, #5e6dbe 50%, #5461aa 100%);
  color: white;
  border: 0;
}

.start-growing{
  margin-top: 16px;
  padding: 16px;
  margin-bottom: 16px;
  background: $section-background;
  border: 1px solid $component-border;
  .growing-background{
    background: #fef3df;
    padding: 36px 24px;
    .growing-description{
      .growing-title-wrapper{
        width: fit-content;
        position: relative;
        display: inline-block;
        z-index: 3;
        &::after{
          z-index: -1;
          content: '';
          bottom: 20px;
          position: absolute;
          height: 22px;
          background: $section-title-underline;
          width: 100%;
        }
      }
      .growing-title{
        width: fit-content;
        font-size: 40px;
        line-height: 1.3;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        margin-bottom: 22px;
      }
      .growing-paragraph{
        font-size: 12px;
        margin-bottom: 20px;
      }
      .growing-buttons{
        display: flex;
        white-space: nowrap;
      }
      .growing-button-1{
        @extend .growing-button;
        background-image: linear-gradient(to right, #ffcd73 0%, #f3b74c 50%, #d9a444 100%);
        display: none;
      }
    }
    .growing-img{
      display: none;
    }
  }
}

.our-services{
  .component-wrapper{
    border: solid 1px #f2f2f2;
    padding:0;
    margin-bottom: 16px;
  }
  :last-child{
    margin-bottom: 0;
  }
  .content-wrapper{
    padding: 40px 50px;
    .services-img{
      margin-bottom:40px
    }
    .services-title{
      font-weight: bold;
      font-size: 24px;
      margin-bottom:20px
    }
    .services-paragraph{
      font-size:16px;
      margin-bottom:40px;
      line-height: 1.88;
    }
    .services-link{
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      text-decoration: none;
      color: #939fde;
      img{
        margin-left: 4px;
      }
    }
  }
}

.about-us{
  // .component-wrapper{
  //     padding: 30px 50px;
  // } 
  .about-logo-wrapper{
    margin-bottom: 16px;
    border: 1px solid $component-border;
    .about-logo-mobile{
      display: flex;
      align-items: center;
      img{
        object-fit: contain;
        width: 100%;
        display: block;
        margin: 0 auto;
      }
    }
  }
  .about-content{
    border: 1px solid $component-border;
    .about-content-wrapper{
      padding: 30px 50px;
    }
    .about-title{
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 36px;
    }
    .progress-wrapper{
      margin-bottom: 20px;
      .about-paragraph{
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 10px;
        p{
          margin-bottom: 0;
        }
      }
      .progress-bar{
        height: 8px;
        background: $bar-background;
        position: relative;
        border-radius: 4px;
        .progress1{
          height: 8px;
          width: 90%;
          background: $bar-progress1;
        }
        .progress2{
          height: 8px;
          width: 80%;
          background: $bar-progress2;
        }
        .progress3{
          height: 8px;
          width: 70%;
          background: $bar-progress3;
        }
      }
    }
  }
}

.offer{
  .component-wrapper{
    padding: 30px 50px; 
  }
  .offer-logo-wrapper{
    margin-bottom: 16px;
    border: 1px solid $component-border;
    .offer-logo-mobile{
      display: flex;
      align-items: center;
      img{
        object-fit: contain;
        width: 100%;
        display: block;
        margin: 0 auto;
      }
    }
  }
  .offer-description-wrapper{
    border: 1px solid $component-border;
    .offer-title{
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 36px;
    }
    .offer-paragraph{
      margin-bottom: 36px;
    }
    .offer-list{
      list-style: none;
      padding: 0; margin: 0;
      padding-bottom: 36px;
      > * {
        padding-bottom: 12px;
        display: flex;
        align-items: center;
      }
      :last-child{
        padding-bottom: 0;
      }
      img{
        margin-right: 8px;
        object-fit: contain;
      }
    }
  }
}

.design{
  border: 1px solid $component-border;
  .component-wrapper{
    padding: 36px;
    .content-wrapper{
      padding: 0;
      padding-bottom: 36px;
    }
    .last-design{
      padding-bottom: 0;
    }
  }
  .content-wrapper{
    padding-top: 0;
    .design-logo{
      display: flex;
      justify-content: flex-end;
      .hello-mobile{
        display: flex;
      }
      .hello-desktop{
        display: none;
      }
      img{
        padding: 0;
        object-fit: contain;
        width: 100%;
      }
    }
    .design-description{
      .design-title{
        font-size: 22px;
        font-weight: bold;
        line-height: 1.36;
      }
      .design-data{
        display: flex;
        color: $text-color;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        margin: 12px 0;
      }
      .design-text{
        font-size: 16px;
      }
      .design-link{
        height: 20px;
        position: relative;
        font-size: 12px;
        line-height: 20px;
        font-weight: bold;
        text-decoration: none;
        color: $text-color;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-transform: uppercase;
        &::after{
          content: "";
          background: url(../images/icon-chevron-right.png) no-repeat center center;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

.jax-teller{
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $component-border;
  background: $jax-background;
  .jax-logo{
    margin-bottom: 30px;
  }
  .jax-description{
    font-size: 14px;
    line-height: 30px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    .jax-text{
      margin-bottom: 20px;
    }
  }
}

.logos{
  display: flex;
  align-items: center;
  background: $logos-background;
  border: 1px solid $component-border;
  img{
    margin: auto;
    padding: 20px 0;
  }
  :first-child{
    display: block;
  }
  > * {
    display: none;
  }
}

.start-your-website{
  background: $ad-background;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 60px 40px;
  .start-title{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin-bottom: 36px;
    line-height: 1.5;
  }

  .start-now{
    @extend .growing-button;
    width: 100%;
    // margin: 0 auto;
  }
}

footer{
  background: $footer-background;
  padding: 80px 16px 71px;
  color: $footer-text;
  .footer-section-description{
    font-size: 16px;
    line-height: 1.88;
  }
  .footer-section-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 36px;
  }
  .milu{
    margin-bottom: 36px;
    .milu-title{
      margin-bottom: 36px;
      display: inline-block;
      position: relative;
      font-size: 24px;
      font-weight: bold;
      z-index: 1;
      &::after{
        content: '';
        background: $milu-after;
        position: absolute;
        right:0;
        left: 0;
        bottom: -3px;
        width: 100%;
        height: 13px;
        z-index: -1;
      }
    }
  }

  .quick-links{
    margin-bottom: 36px;
    ul{
      list-style: none;
      padding: 0;
      li{
        font-size: 16px;
        line-height: 1.88;
      }
    } 
  }

  .last-tweet{
    margin-bottom: 36px;
    .twitter-icon{
      img{
        color: blue;
        margin-right: 12px;
      }
    }
    .twitter-wrapper{
      display: flex;
      .twitter-description{
        font-size: 16px;
        line-height: 1.88;
        .data{
          color: $data-color;
        }
      }
    }
  }

  .download-app{
    .stores{
      margin-bottom: 80px;
      .google-play{
        margin-right: 24px;
      }
    }

    .social-media{
      display: flex;
      justify-content: flex-end;
      margin-bottom: 71px;
      div{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        background: $media-circle-bg;
        border-radius: 16px;
        margin-right: 16px;
      }
    }
  }
  
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .content-wrapper{
    padding: 0 24px;
    .component {
      margin-bottom: 32px;
    }
  }
  
  .start-growing{
    .growing-background{
      padding: 44px 166px 44px 34px;
      .growing-description{
        .growing-title{
          font-size: 40px;
        }
        .growing-paragraph{
          font-size: 12px;
          margin-bottom: 20px;
        }
        .growing-buttons{
          .growing-button{
            margin-right: 20px;
          }
          .growing-button-1{
            display: block;
          }
        }
      }
    }
  }
  
  .our-services{
    .component-wrapper{
      padding:0;
      margin-bottom: 16px;
    }
    :last-child{
      margin-bottom: 0;
    }
    .content-wrapper{
      padding: 40px 50px;
      .services-img{
        margin-bottom:40px
      }
      .services-title{
        font-size: 24px;
        margin-bottom:20px
      }
      .services-paragraph{
        font-size:16px;
        margin-bottom:40px;
        line-height: 1.88;
      }
      .services-link{
        font-size: 12px;
        img{
          margin-left: 4px;
        }
      }
    }
  }
  
  .about-us{
    // .component-wrapper{
    //     padding: 50px 50px;
    // }
    .about-logo-wrapper{
      margin-bottom: 16px;
      border: 1px solid $component-border;
      .about-logo{
        margin: 10px;
        img{
          object-fit: contain;
          width: 100%;
        }
      }
    }
    .about-content{
      border: 1px solid $component-border;
      .about-content-wrapper{
        padding: 50px;
      }
      .about-title{
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 36px;
      }
      .progress-wrapper{
        margin-bottom: 20px;
        .about-paragraph{
          display: flex;
          justify-content: space-between;
          font-size: 14px;
          font-weight: bold;
          p{
            margin-bottom: 0;
          }
        }
        .progress-bar{
          height: 8px;
          background: $bar-background;
          position: relative;
          border-radius: 4px;
          .progress1{
            height: 8px;
            width: 90%;
            background: $bar-progress1;
          }
          .progress2{
            height: 8px;
            width: 80%;
            background: $bar-progress2;
          }
          .progress3{
            height: 8px;
            width: 70%;
            background: $bar-progress3;
          }
        }
      }
    }
  }
  
  .offer{
    .component-wrapper{
      padding: 50px 50px;
    }
    .offer-logo-wrapper{
      margin-bottom: 16px;
      .offer-logo-mobile{
        padding: 24px;
        display: flex;
        align-items: center;
        img{
          object-fit: contain;
          width: 100%;
          display: block;
          margin: 0 auto;
        }
      }
    }
    .offer-description-wrapper{
      border: 1px solid $component-border;
      .offer-title{
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 36px;
      }
      .offer-paragraph{
        margin-bottom: 36px;
      }
      .offer-list{
        list-style: none;
        padding: 0; margin: 0;
        padding-bottom: 36px;
        > * {
          padding-bottom: 12px;
          display: flex;
          align-items: center;
        }
        :last-child{
          padding-bottom: 0;
        }
        img{
          margin-right: 8px;
          object-fit: contain;
        }
      }
    }
  }
  
  .design{
    border: 1px solid $component-border;
    .content-wrapper{
      padding: 36px 36px;
      padding-top: 0;
      .design-logo{
        display: flex;
        justify-content: flex-end;
        padding-bottom: 20px;
        img{
          padding: 0;
          object-fit: contain;
          width: 100%;
        }
      }
      .design-description{
        .design-title{
          font-size: 22px;
          line-height: 1.36;
        }
        .design-data{
          font-size: 12px;
          margin: 12px 0;
        }
        .design-text{
          font-size: 16px;
        }
        .design-link{
          font-size: 12px;
          img{
            margin-left: 4px;
          }
        }
      }
    }
  }
  
  .jax-teller{
    padding: 40px 60px;
    // .jax-logo{
    //   margin-bottom: 30px;
    // }
    // .jax-description{
    //   font-size: 14px;
    //   line-height: 30px;
    //   margin-bottom: 20px;
    // }
  }
  
  .logos{
    display: flex;
    align-items: center;
    background: $logos-background;
    border: 1px solid $component-border;
    padding: 0 40px;
    img{
      margin: auto;
      padding: 20px 0;
    }
    :first-child{
      display: block;
    }
    :nth-child(2){
      display: block;
    }
    > * {
      display: none;
    }
  }
  
  .start-your-website{
    background: $ad-background;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 60px;
    .start-title{
      text-transform: capitalize;
      font-weight: bold;
      font-size: 32px;
      text-align: center;
      margin-bottom: 36px;
      line-height: 1.5;
    }
  
    .start-now{
      width: 80%;
      // margin: 0 auto;
    }
  }
  
  footer{
    padding: 80px 16px 0;
    .sm-footer{
      display: flex;
      justify-content: space-between;
      > *{
        flex: 1;
      }
      .milu, .last-tweet{
        margin-right: 15px;
      }
      .quick-links, .download-app{
        margin-left: 15px;
      }
    }
    .footer-section-description{
      font-size: 16px;
      line-height: 1.88;
    }
    .footer-section-title{
      font-size: 24px;
      margin-bottom: 36px;
    }
    .milu{
      margin-bottom: 36px;
      .milu-title{
        margin-bottom: 36px;
        font-size: 24px;
        &::after{
          bottom: -3px;
          height: 13px;
        }
      }
    }
  
    .quick-links{
      margin-bottom: 36px;
    }
  
    .last-tweet{
      margin-bottom: 36px;
      .twitter-icon{
        img{
          margin-right: 12px;
        }
      }
      .twitter-wrapper{
        .twitter-description{
          font-size: 16px;
          line-height: 1.88;
        }
      }
    }
  
    .download-app{
      .stores{
        margin-bottom: 80px;
        > * {
          width: 40%;
        }
      }
  
      .social-media{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 71px;
        div{
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
          background: $media-circle-bg;
          border-radius: 16px;
          margin-right: 16px;
        }
      }
    }
    
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .content-wrapper{
    padding: 0 24px;
    .component {
      margin-bottom: 32px;
    }
  }

  header{
    margin: 20px 24px;
  }
  
  .start-growing{
    .growing-background{
      display: flex;
      padding: 0;
      .growing-description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 34px;
        width: 50%;
        .growing-paragraph{
          font-size: 12px;
          padding-right: 72px;
          margin-bottom: 30px;
        }
        .growing-buttons{
          .growing-button{
            margin-right: 30px;
          }
          .growing-button-1{
            display: block;
          }
        }
      }
      .growing-img{
        width: 50%;
        display: flex;
        margin: 48px 0;
        // background-image: url(https://github.com/HudorHasHasHa/LandingPage/blob/master/src/images/image-landing-3-money.png?raw=true);
        img{
          object-fit: fill;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
  
  .our-services{
    .component-wrapper{
      margin-bottom: 0;
    }
    .content-wrapper{
      padding: 40px 50px;
      .services-img{
        margin-bottom:40px
      }
      .services-title{
        font-size: 24px;
        margin-bottom:20px
      }
      .services-paragraph{
        font-size:16px;
        margin-bottom:40px;
        line-height: 1.88;
      }
      .services-link{
        font-size: 12px;
        img{
          margin-left: 4px;
        }
      }
    }
  }
  
  .about-us{
    // .component-wrapper{
    //     padding: 50px 50px;
    // }
  .about-logo-wrapper{
    margin-bottom: 16px;
    border: 1px solid $component-border;
    .about-logo-mobile{
      padding: 24px;
      display: flex;
      align-items: center;
      img{
        object-fit: contain;
        width: 100%;
        display: block;
        margin: 0 auto;
      }
    }
  }
    .about-content{
      .about-title{
        font-size: 32px;
        margin-bottom: 36px;
      }
      .progress-wrapper{
        margin-bottom: 20px;
        .about-paragraph{
          font-size: 14px;
          p{
            margin-bottom: 0;
          }
        }
        .progress-bar{
          height: 8px;
          border-radius: 4px;
          .progress1{
            height: 8px;
            width: 90%;
          }
          .progress2{
            height: 8px;
            width: 80%;
          }
          .progress3{
            height: 8px;
            width: 70%;
          }
        }
      }
    }
  }
  
  .offer{
    .offer-logo-wrapper{
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      .offer-logo-mobile{
        width: 100%;
        img{
          object-fit: contain;
          width: 100%;
          display: block;
          margin: 0 auto;
        }
      }
    }
    .offer-description-wrapper{
      border: 1px solid $component-border;
      .offer-title{
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 36px;
      }
      .offer-paragraph{
        margin-bottom: 36px;
      }
      .offer-list{
        list-style: none;
        padding: 0; margin: 0;
        padding-bottom: 36px;
        > * {
          padding-bottom: 12px;
          display: flex;
          align-items: center;
        }
        :last-child{
          padding-bottom: 0;
        }
        img{
          margin-right: 8px;
          object-fit: contain;
        }
      }
    }
  }
  
  .design{
    border: 1px solid $component-border;
    .component-wrapper{
      .content-wrapper{
          flex:1;
      }
    }
    .content-wrapper{
      padding: 36px 36px;
      padding-top: 0;
      .design-logo{
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        .hello-mobile{
          display: none;
        }
        .hello-desktop{
          display: flex;
        }
        img{
          padding: 0;
          object-fit: contain;
          width: 100%;
        }
      }
      .design-description{
        .design-title{
          font-size: 22px;
          line-height: 1.36;
        }
        .design-data{
          font-size: 12px;
          margin: 12px 0;
        }
        .design-text{
          font-size: 16px;
        }
        .design-link{
          font-size: 12px;
          img{
            margin-left: 4px;
          }
        }
      }
    }
  }
  
  .jax-teller{
    padding: 40px 60px;
    .jax-logo{
      img{
        object-fit: contain;
        width: 80px;
        height: 80px;
      }
    }
    .jax-description{
      font-size: 18px;
      line-height: 1.67;
      .jax-signature{
        font-size: 14px;
        line-height: 2.14;
      }
    }
  }
  
  .logos{
    padding: 0 46px;
    img{
      margin: auto;
      padding: 40px 0;
    }
    :first-child{
      display: block;
    }
    :nth-child(2){
      display: block;
    }
    :nth-child(3){
      display: block;
    }
    :nth-child(4){
      display: block;
    }
    > * {
      display: none;
    }
  }
  
  footer{
    padding: 80px 16px 0;
    display: flex;
    .sm-footer{
      flex:1;
      display: flex;
      justify-content: space-between;
      > *{
        flex: 1;
      }
      .milu, .last-tweet{
        margin-right: 15px;
      }
      .quick-links, .download-app{
        margin-left: 15px;
      }
    }
    .footer-section-description{
      font-size: 16px;
      line-height: 1.88;
    }
    .footer-section-title{
      font-size: 24px;
      margin-bottom: 36px;
    }
    .milu{
      margin-bottom: 36px;
      .milu-title{
        margin-bottom: 36px;
        font-size: 24px;
        &::after{
          bottom: -3px;
          height: 13px;
        }
      }
    }
  
    .last-tweet{
      margin-bottom: 36px;
      .twitter-icon{
        img{
          margin-right: 12px;
        }
      }
      .twitter-wrapper{
        .twitter-description{
          font-size: 16px;
          line-height: 1.88;
        }
      }
    }
  
    .download-app{
      .stores{
        margin-bottom: 80px;
        .google-play{
          margin-bottom: 0;
        }
      }
  
      .social-media{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 71px;
        div{
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
          background: $media-circle-bg;
          border-radius: 16px;
          margin-right: 16px;
        }
      }
    }
    
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .content-wrapper{
    padding: 0 40px;
  }
  header{
    margin: 20px 40px;
    display: flex;
    justify-content: space-between;
    .mobile-nav{
      display: none;
    }
    .desktop-nav{
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: end;
      ul{
        list-style: none;
        padding:0;
        margin:0;
        display: flex;
        align-items: center;
        li{
          display: inline-block;
          text-transform: uppercase;
          margin: auto 0;
          a{
            padding: 1rem 1.2rem;
            font-family: $header-font;
            text-decoration: none;
            color: $header-links-color;
  
            &:hover{
              color: $header-links-color-hover;
              transition: 300ms;
            }
          }
        }
       }
      .button{
        align-self: center;
        font-size: 12px;  
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        padding: 12px 24px 12px 24px;
        border-radius: 18px;
        background-color: $header-button-color;
        color: #fff;
        border: none;
      }
    }
  }

  .growing-button{
    top: 0;
    padding: 16px 35.5px;
    border-radius: 24px;
    font-size: 12px;
    line-height: 1.33;
    border: 0;
    &:hover{
      top: -4px;
      transition: 300ms;
      box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.16);
    }
  }
  
  .start-growing{
    margin-top: 40px;
    .growing-background{
      display: flex;
      background: #fef3df;
      padding: 0;
      .growing-description{
        margin: 0 4rem;
        .growing-title-wrapper{
          &::after{
            bottom: 25px;
            height: 26px;
          }
        }
        .growing-title{
          font-size: 40px;
          line-height: 52px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          margin-bottom: 36px;
        }
        .growing-paragraph{
          font-size: 16px;
        }
      }
    }
  }

  .our-services{
    display: flex;
    .component-wrapper + .component-wrapper {
      margin-left: 36px;
    }
    .component-wrapper:hover{
      box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.16);
      transition: 300ms;
    }
  }

  .about-us{
    display: flex;
    flex-direction: row-reverse;
    .content-wrapper{
      padding: 0;
    }
    .about-logo-wrapper{
      flex: 1;
      margin-left: 18px;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      .about-logo-mobile{ 
        padding: 50px;
      }
    }
    .about-content{
      flex: 1;
      margin-right: 18px;
      .content-wrapper{
        padding: 50px;
      }
    }
  }

  .offer{
    display: flex;
    flex-direction: row;
    .component-wrapper{
      padding: 0;
    }
    .offer-content-wrapper{
      padding: 50px;
    }
    .offer-logo-wrapper{
      padding: 0;
      border: 1px solid #f2f2f2;
      flex: 1; 
      margin-right: 18px; 
      margin-bottom: 0;
      .offer-logo-mobile{ 
        padding: 50px;
      }
    }
    .offer-description-wrapper{
      flex: 1;
      margin-left: 18px;
      display: flex;
      align-items: center;
    }
  }

  .design{
    .component-wrapper{
      >:first-child{
        padding-right: 36px;
      }
      >:last-child{
        padding-left: 36px;
      }
      display: flex;
      flex-direction: row;
      padding: 36px;
      .content-wrapper{
        padding-bottom: 0;
        .design-logo{
          padding-top: 0;
        }
      }
    }
  }

  .jax-teller{
    display: flex;
    flex-direction: row;
    .jax-logo{
      margin-right: 80px;
      margin-bottom: 0;
      img{
        height: 200px;
        width: 200px;
      }
    }
  }

  .start-your-website{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 60px 50px;
    .start-title{
      font-size: 32px;
      margin-bottom: 0;
      line-height: 1.5;
    }
  
    .start-now{
      width: auto;
      margin: 0 !important;
    }
  }

  footer{
    .content-wrapper{
      display: flex;
      flex-direction: row;
    }

    .download-app{
      .footer-section-description{
        margin-bottom: 36px;
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .content-wrapper{
    padding: 0 56px;
  }
  .content-wrapper{
    .component {
      margin-bottom: 40px;
    }
  }

  header{
    margin: 20px 56px;
  }
  
  .start-growing{
    margin-top: 16px;
    padding: 16px;
    margin-bottom: 16px;
    .growing-background{
      display: flex;
      .growing-description{
        flex: 1;
        .growing-title{
          font-size: 52px;
          .growing-underline{
            &::after{
              bottom: -5px;
            }
          }
        }
        .growing-paragraph{
          font-size: 18px;
          padding-right: 0;
          margin-bottom: 40px;
        }
        .growing-buttons{
          .growing-button-1{
            display: block;
          }
        }
      }
    }
  }
  
  .our-services{
    .component-wrapper{
      padding:0;
    }
    .content-wrapper{
      padding: 40px 50px;
      .services-img{
        margin-bottom:40px
      }
      .services-title{
        font-size: 24px;
        margin-bottom:20px
      }
      .services-paragraph{
        font-size:16px;
        margin-bottom:40px;
        line-height: 1.88;
      }
      .services-link{
        font-size: 12px;
        img{
          margin-left: 4px;
        }
      }
    }
  }
  
  .about-us{
    // .component-wrapper{
    //     padding: 50px 50px;
    // }
    .about-logo-wrapper{
      .about-logo{
        margin: 10px;
        img{
          object-fit: contain;
          width: 100%;
        }
      }
    }
    .about-content{
      .about-title{
        font-size: 32px;
        margin-bottom: 36px;
      }
      .progress-wrapper{
        margin-bottom: 20px;
        .about-paragraph{
          font-size: 14px;
          p{
            margin-bottom: 0;
          }
        }
        .progress-bar{
          height: 8px;
          border-radius: 4px;
          .progress1{
            height: 8px;
            width: 90%;
          }
          .progress2{
            height: 8px;
            width: 80%;
          }
          .progress3{
            height: 8px;
            width: 70%;
          }
        }
      }
    }
  }
  
  .offer{
    .component-wrapper{
      padding: 50px 50px; 
    }
    .offer-logo-wrapper{
      padding: 50px 50px;
      display: flex;
      align-items: center;
      .offer-logo-mobile{
        width: 100%;
        img{
          object-fit: contain;
          width: 100%;
          display: block;
          margin: 0 auto;
        }
      }
    }
    .offer-description-wrapper{
      border: 1px solid $component-border;
      .offer-title{
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 36px;
      }
      .offer-paragraph{
        margin-bottom: 36px;
      }
      .offer-list{
        list-style: none;
        padding: 0; margin: 0;
        padding-bottom: 36px;
        > * {
          padding-bottom: 12px;
          display: flex;
          align-items: center;
        }
        :last-child{
          padding-bottom: 0;
        }
        img{
          margin-right: 8px;
          object-fit: contain;
        }
      }
    }
  }
  
  .design{
    border: 1px solid $component-border;
    .component-wrapper{
      display: flex;
      .content-wrapper{
          flex:1;
      }
    }
    .content-wrapper{
      padding: 36px 36px;
      padding-top: 0;
      .design-logo{
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        .hello-mobile{
          display: none;
        }
        .hello-desktop{
          display: flex;
        }
        img{
          padding: 0;
          object-fit: contain;
          width: 100%;
        }
      }
      .design-description{
        .design-title{
          font-size: 22px;
          line-height: 1.36;
        }
        .design-data{
          font-size: 12px;
          margin: 12px 0;
        }
        .design-text{
          font-size: 16px;
        }
        .design-link{
          font-size: 12px;
          img{
            margin-left: 4px;
          }
        }
      }
    }
  }
  
  .jax-teller{
    padding: 60px;
    display: flex;
    flex-direction: row;
    .jax-logo{
      img{
        object-fit: contain;
        width: 200px;
        height: 200px;
      }
    }
    .jax-description{
      font-size: 18px;
      line-height: 1.67;
      .jax-signature{
        font-size: 14px;
        line-height: 2.14;
      }
    }
  }
  
  .logos{
    padding: 0 46px;
    img{
      margin: auto;
      padding: 40px 0;
    }
    :first-child{
      display: block;
    }
    :nth-child(2){
      display: block;
    }
    :nth-child(3){
      display: block;
    }
    :nth-child(4){
      display: block;
    }
    :nth-child(5){
      display: block;
    }
    > * {
      display: none;
    }
  }
  
  footer{
    padding: 80px 16px 0;
    display: flex;
    .content-wrapper{
      display: flex;
      flex-direction: row;
    }
    .sm-footer{
      flex:1;
      display: flex;
      justify-content: space-between;
      > *{
        flex: 1;
      }
      .milu, .last-tweet{
        margin-right: 15px;
      }
      .quick-links, .download-app{
        margin-left: 15px;
      }
    }
    .footer-section-description{
      font-size: 16px;
      line-height: 1.88;
    }
    .footer-section-title{
      font-size: 24px;
      margin-bottom: 36px;
    }
    .milu{
      margin-bottom: 36px;
      .milu-title{
        margin-bottom: 36px;
        font-size: 24px;
        &::after{
          bottom: -3px;
          height: 13px;
        }
      }
    }
  
    .last-tweet{
      margin-bottom: 36px;
      .twitter-icon{
        img{
          margin-right: 12px;
        }
      }
      .twitter-wrapper{
        .twitter-description{
          font-size: 16px;
          line-height: 1.88;
        }
      }
    }
  
    .download-app{
      .stores{
        margin-bottom: 80px;
      }
  
      .social-media{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 71px;
        div{
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
          background: $media-circle-bg;
          border-radius: 16px;
          margin-right: 16px;
        }
      }
    }
    
  }
}

@media (min-width: 1400px) {
  .content-wrapper{
    padding: 0;
    > * {
      margin: 0 auto;
      max-width: 1400px;
    }
  }
  .content-wrapper{
    .component {
      margin-bottom: 40px;
    }
  }

  header{
    padding: 20px 0;
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    .header-content{
      max-width: 1400px;
    }
  }
  
  .header-scrolled{
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
    background-color: #fcfcfc;
    position: fixed;
    top:0;
    z-index: 999;
  }
  
  .start-growing{
    .growing-background{
      .growing-description{
        flex: 1;
        .growing-title{
          font-size: 52px;
          .growing-underline{
            &::after{
              bottom: -7px;
            }
          }
        }
      }
    }
  }
  
  .our-services{
    .component-wrapper{
      padding:0;
    }
    .content-wrapper{
      padding: 40px 50px;
      .services-img{
        margin-bottom:40px
      }
      .services-title{
        font-size: 24px;
        margin-bottom:20px
      }
      .services-paragraph{
        font-size:16px;
        margin-bottom:40px;
        line-height: 1.88;
      }
      .services-link{
        font-size: 12px;
        img{
          margin-left: 4px;
        }
      }
    }
  }
  
  .about-us{
    .about-logo-wrapper{
      display: flex;
      align-items: center;
      .about-logo{
        margin: 10px;
        img{
          object-fit: contain;
          width: 100%;
        }
      }
    }
    .about-content{
      align-items: center;
      display: flex;
      .about-title{
        font-size: 32px;
        margin-bottom: 36px;
      }
      .progress-wrapper{
        margin-bottom: 20px;
        .about-paragraph{
          font-size: 14px;
          p{
            margin-bottom: 0;
          }
        }
        .progress-bar{
          height: 8px;
          border-radius: 4px;
          .progress1{
            height: 8px;
            width: 90%;
          }
          .progress2{
            height: 8px;
            width: 80%;
          }
          .progress3{
            height: 8px;
            width: 70%;
          }
        }
      }
    }
  }
  
  .offer{
    .component-wrapper{
      padding: 50px 50px; 
    }
    .offer-logo-wrapper{
      padding: 50px 50px;
      display: flex;
      align-items: center;
      .offer-logo-mobile{
        width: 100%;
        img{
          object-fit: contain;
          width: 100%;
          display: block;
          margin: 0 auto;
        }
      }
    }
    .offer-description-wrapper{
      border: 1px solid $component-border;
      .offer-title{
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 36px;
      }
      .offer-paragraph{
        margin-bottom: 36px;
      }
      .offer-list{
        list-style: none;
        padding: 0; margin: 0;
        padding-bottom: 36px;
        > * {
          padding-bottom: 12px;
          display: flex;
          align-items: center;
        }
        :last-child{
          padding-bottom: 0;
        }
        img{
          margin-right: 8px;
          object-fit: contain;
        }
      }
    }
  }
  
  .design{
    border: 1px solid $component-border;
    .component-wrapper{
      display: flex;
      .content-wrapper{
          flex:1;
      }
    }
    .content-wrapper{
      padding: 36px 36px;
      padding-top: 0;
      .design-logo{
        display: flex;
        align-items: center;
        padding-bottom: 20px;
        .hello-mobile{
          display: none;
        }
        .hello-desktop{
          display: flex;
        }
        img{
          padding: 0;
          object-fit: contain;
          width: 100%;
        }
      }
      .design-description{
        .design-title{
          font-size: 22px;
          line-height: 1.36;
        }
        .design-data{
          font-size: 12px;
          margin: 12px 0;
        }
        .design-text{
          font-size: 16px;
        }
        .design-link{
          font-size: 12px;
          img{
            margin-left: 4px;
          }
        }
      }
    }
  }
  
  .jax-teller{
    padding: 60px 160px;
    display: flex;
    flex-direction: row;
    .jax-logo{
      img{
        object-fit: contain;
        width: 200px;
        height: 200px;
      }
    }
    .jax-description{
      font-size: 18px;
      line-height: 1.67;
      .jax-signature{
        font-size: 14px;
        line-height: 2.14;
      }
    }
  }
  
  .logos{
    padding: 0 46px;
    img{
      margin: auto;
      padding: 40px 0;
    }
    :first-child{
      display: block;
    }
    :nth-child(2){
      display: block;
    }
    :nth-child(3){
      display: block;
    }
    :nth-child(4){
      display: block;
    }
    :nth-child(5){
      display: block;
    }
    > * {
      display: none;
    }
  }
  
  footer{
    padding: 80px 16px 0;
    display: flex;
    .content-wrapper{
      display: flex;
      flex-direction: row;
      max-width: 1400px;
      margin: 0 auto;
    }
    .sm-footer{
      flex:1;
      display: flex;
      justify-content: space-between;
      > *{
        flex: 1;
      }
      .milu, .last-tweet{
        margin-right: 15px;
      }
      .quick-links, .download-app{
        margin-left: 15px;
      }
    }
    .footer-section-description{
      font-size: 16px;
      line-height: 1.88;
    }
    .footer-section-title{
      font-size: 24px;
      margin-bottom: 36px;
    }
    .milu{
      margin-bottom: 36px;
      .milu-title{
        margin-bottom: 36px;
        font-size: 24px;
        &::after{
          bottom: -3px;
          height: 13px;
        }
      }
    }

    .last-tweet{
      margin-bottom: 36px;
      .twitter-icon{
        img{
          margin-right: 12px;
        }
      }
      .twitter-wrapper{
        .twitter-description{
          font-size: 16px;
          line-height: 1.88;
        }
      }
    }
  
    .download-app{
      .stores{
        margin-bottom: 80px;
        .google-play{
          margin-bottom: 0;
        }
      }
      
      .social-media{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 71px;
        div{
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
          background: $media-circle-bg;
          border-radius: 16px;
          margin-right: 16px;
        }
      }
    }
  }
}