$page-background-color: #fcfcfc;
// Fonts
$header-font: OpenSans-Bold;

//Mobile header
$mobile-header-bg: #fff;

// Header colors
$header-links-color: #858585;
$header-links-color-hover: #333333;
$header-button-color: #6272c7;

// Sections colors
$section-background: #fff;
$section-title-underline: #ffc050;

// What We Do
$bar-background: #f2f2f2;
$bar-progress1: #ffc050;
$bar-progress2: #6272c7;
$bar-progress3: #ffc050;

// Design section
$text-color: #333333;

body{
  background-color: $page-background-color;
}

.content-wrapper{
  padding: 0 16px;
}

header{
  margin: 0 8px;
  background: $mobile-header-bg;
  height: 66px;
  display: flex;
  justify-content: space-between;
  .logo{
    margin: 9px 0;
  }
  .desktop-nav{
    display: none;
  }

  .mobile-nav{
    align-items: center;
    display: flex;
    .hamburger{
      background-color: inherit;
      border: none;
      color: #000;
    }
  }
}

.component-wrapper{
  padding: 16px;
  background: $section-background;
  margin-bottom: 16px;
}

.start-growing{
  margin-top: 82px;
  padding: 16px;
  margin-bottom: 16px;
  background: $section-background;
  .growing-background{
    background: #fef3df;
    .growing-description{
      margin: 0 24px;
      padding: 36px 0;
      .growing-title{
        font-size: 40px;
        line-height: 52px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        margin-bottom: 22px;
        .growing-underline{
          position: relative;
          display: inline-block;
          z-index: 3;
          &::after{
            z-index: -1;
            content: '';
            left: 0;
            right: 0;
            bottom: -6px;
            position: absolute;
            height: 30px;
            background: $section-title-underline;
            width: 100%;
          }
        }
      }
      .growing-paragraph{
        font-size: 12px;
        margin-bottom: 20px;
      }
      .growing-buttons{
        display: flex;
        white-space: nowrap;
      }
      .growing-button{
        position: relative;
        top: 0;
        text-transform: uppercase;
        // margin-top: 20px;
        padding: 16px 35.5px;
        border-radius: 24px;
        font-size: 12px;
        line-height: 1.33;
        background-image: linear-gradient(to right, #828fd3 0%, #5e6dbe 50%, #5461aa 100%);
        color: white;
        border: 0;
        &:hover{
          top: -4px;
          transition: 300;
          box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.16);
        }
      }
      .growing-button-1{
        @extend .growing-button;
        background-image: linear-gradient(to right, #ffcd73 0%, #f3b74c 50%, #d9a444 100%);
        display: none;
      }
    }
    .growing-img{
      display: none;
    }
  }
}

.our-services{
  .component-wrapper{
    border: solid 1px #f2f2f2;
  }
  .content-wrapper{
    padding: 40px 50px;
      //img
    :first-child{
      margin-bottom:40px
    }//title
    :nth-child(2){
      font-size: 24px;
      margin-bottom:20px
    }//paragraph
    :nth-child(3){
      font-size:16px;
      margin-bottom:40px
    }//link
    :nth-child(4){
      font-size: 12px;
    }
  }
}

.about-us{
  .content-wrapper{
    padding: 30px 50px ;
  } 
  .progress-wrapper{
    .about-paragraph{
      display: flex;
      justify-content: space-between;
      p{
        margin-bottom: 0;
      }
    }
    .progress-bar{
      height: 8px;
      background: $bar-background;
      position: relative;
      border-radius: 4px;
      .progress1{
        height: 8px;
        width: 90%;
        background: $bar-progress1;
      }
      .progress2{
        height: 8px;
        width: 80%;
        background: $bar-progress2;
      }
      .progress3{
        height: 8px;
        width: 70%;
        background: $bar-progress3;
      }
    }
  }
}

.offer{
  .content-wrapper{
    padding: 30px 50px;
    
  }
  .offer-list{
    list-style: none;
    padding: 0; margin: 0;
    > * {
      display: flex;
      align-items: center;
    }
    img{
      margin-right: 8px;
      object-fit: contain;
    }
  }
}

.design{
  .content-wrapper{
    padding: 36px 36px;
    .design-data{
      display: flex;
      color: $text-color;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
    }
    .design-text{
      font-size: 16px;
    }
    .design-link{
      font-size: 12px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-decoration: none;
      color: $text-color;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .content-wrapper{
    padding: 0 40px;
  }
  header{
    height: 66px;
    display: flex;
    justify-content: space-between;
    .logo{
      margin: 20px 0;
    }
    .mobile-nav{
      display: none;
    }
    .desktop-nav{
      flex:1;
      display: flex;
      flex-direction: row-reverse;
      ul{
        list-style: none;
        padding:0;
        margin:0;
        display: flex;
        align-items: center;
        li{
          padding-right: 50px;
          display: inline-block;
          text-transform: uppercase;
          margin: auto 0;
          a{
            font-family: $header-font;
            text-decoration: none;
            color: $header-links-color;
  
            &:hover{
              color: $header-links-color-hover;
            }
          }
        }
        :last-child{
          padding-right: 0;
          .button{
            font-size: 12px;  
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1;
            letter-spacing: normal;
            padding: 12px 24px 12px 24px;
            border-radius: 18px;
            background-color: $header-button-color;
            color: #fff;
            border: none;
          }
        }
      }
    }
  }
  
  .start-growing{
    margin-top: 82px;
    padding: 16px;
    background: $section-background;
    .growing-background{
      display: flex;
      background: #fef3df;
      .growing-description{
        padding: 86px 92px 86px 44px; 
        .growing-title{
          font-size: 40px;
          line-height: 52px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          margin-bottom: 36px;
          .growing-underline{
            position: relative;
            display: inline-block;
            z-index: 3;
            &::after{
              z-index: -1;
              content: '';
              left: 0;
              right: 0;
              bottom: -6px;
              position: absolute;
              height: 30px;
              background: $section-title-underline;
              width: 100%;
            }
          }
        }
        .growing-paragraph{
          font-size: 16px;
        }
        .growing-button{
          top: 0;
          margin: 56px 30px 0 0;
          padding: 16px 35.5px;
          border-radius: 24px;
          font-size: 12px;
          line-height: 1.33;
          border: 0;
          &:hover{
            top: -4px;
            transition: 300;
            box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.16);
          }
        }
      }
      .growing-img{
        display: flex;
        background-image: url("/src/images/image-landing-3-money.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  .content-wrapper{
    padding: 0 56px;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 
  .content-wrapper{
    padding: 0 260px;
  }
  header{
    height: 88px;
    .logo{
      margin: 20px 0;
    }
    .desktop-nav{
      ul{
        li{
          padding-right: 50px;
          margin: auto 0;
        }
        :last-child{
          padding-right: 0;
          .button{
            font-size: 12px;  
            line-height: 1;
            padding: 12px 24px 12px 24px;
            border-radius: 18px;
            background-color: $header-button-color;
            color: #fff;
            border: none;
          }
        }
      }
    }
  }
  
  .start-growing{
    margin-top: 128px;
    padding: 16px 0;
    .growing-background{
      margin: 0 16px;
      .growing-description{
        padding: 144px 106px 142px 66px;
        .growing-title{
          font-size: 60px;
          margin-bottom: 36px;
          .growing-underline{
            &::after{
              content: '';
              left: 0;
              right: 0;
              bottom: -6px;
              height: 30px;
              width: 100%;
            }
          }
        }
        .growing-paragraph{
          font-size: 20px;
        }
        .growing-button{
          margin: 56px 30px 0 2px;
          padding: 16px 35.5px;
          border-radius: 24px;
          font-size: 12px;
          &:hover{
            top: -4px;
            transition: 300;
            box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.16);
          }
        }
      }
    }
    .growing-img{
      display: flex;
      img{
        object-fit: none;
        height: 100%;
        width: 100%;
      }
    }
  }
}