body {
  background-color: #fcfcfc; }

.content-wrapper {
  padding: 0 16px; }
  .content-wrapper .component {
    margin-bottom: 16px;
    color: #333333; }

header {
  margin: 20px 16px; }
  header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
  header .desktop-nav {
    display: none; }
    header .desktop-nav li a {
      padding: 4px; }
  header .mobile-nav {
    align-items: center;
    display: flex; }
    header .mobile-nav .hamburger {
      background-color: inherit;
      border: none;
      color: #000; }

.component-wrapper {
  padding: 16px;
  background: #fff; }

.growing-button, .start-growing .growing-background .growing-description .growing-button-1, .start-your-website .start-now {
  position: relative;
  top: 0;
  text-transform: uppercase;
  padding: 16px 35px;
  max-width: 150px;
  width: 100%;
  border-radius: 24px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.33;
  background-image: linear-gradient(to right, #828fd3 0%, #5e6dbe 50%, #5461aa 100%);
  color: white;
  border: 0; }

.start-growing {
  margin-top: 16px;
  padding: 16px;
  margin-bottom: 16px;
  background: #fff;
  border: 1px solid #f2f2f2; }
  .start-growing .growing-background {
    background: #fef3df;
    padding: 36px 24px; }
    .start-growing .growing-background .growing-description .growing-title-wrapper {
      width: fit-content;
      position: relative;
      display: inline-block;
      z-index: 3; }
      .start-growing .growing-background .growing-description .growing-title-wrapper::after {
        z-index: -1;
        content: '';
        bottom: 20px;
        position: absolute;
        height: 22px;
        background: #ffc050;
        width: 100%; }
    .start-growing .growing-background .growing-description .growing-title {
      width: fit-content;
      font-size: 40px;
      line-height: 1.3;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      margin-bottom: 22px; }
    .start-growing .growing-background .growing-description .growing-paragraph {
      font-size: 12px;
      margin-bottom: 20px; }
    .start-growing .growing-background .growing-description .growing-buttons {
      display: flex;
      white-space: nowrap; }
    .start-growing .growing-background .growing-description .growing-button-1 {
      background-image: linear-gradient(to right, #ffcd73 0%, #f3b74c 50%, #d9a444 100%);
      display: none; }
    .start-growing .growing-background .growing-img {
      display: none; }

.our-services .component-wrapper {
  border: solid 1px #f2f2f2;
  padding: 0;
  margin-bottom: 16px; }

.our-services :last-child {
  margin-bottom: 0; }

.our-services .content-wrapper {
  padding: 40px 50px; }
  .our-services .content-wrapper .services-img {
    margin-bottom: 40px; }
  .our-services .content-wrapper .services-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px; }
  .our-services .content-wrapper .services-paragraph {
    font-size: 16px;
    margin-bottom: 40px;
    line-height: 1.88; }
  .our-services .content-wrapper .services-link {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #939fde; }
    .our-services .content-wrapper .services-link img {
      margin-left: 4px; }

.about-us .about-logo-wrapper {
  margin-bottom: 16px;
  border: 1px solid #f2f2f2; }
  .about-us .about-logo-wrapper .about-logo-mobile {
    display: flex;
    align-items: center; }
    .about-us .about-logo-wrapper .about-logo-mobile img {
      object-fit: contain;
      width: 100%;
      display: block;
      margin: 0 auto; }

.about-us .about-content {
  border: 1px solid #f2f2f2; }
  .about-us .about-content .about-content-wrapper {
    padding: 30px 50px; }
  .about-us .about-content .about-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 36px; }
  .about-us .about-content .progress-wrapper {
    margin-bottom: 20px; }
    .about-us .about-content .progress-wrapper .about-paragraph {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 10px; }
      .about-us .about-content .progress-wrapper .about-paragraph p {
        margin-bottom: 0; }
    .about-us .about-content .progress-wrapper .progress-bar {
      height: 8px;
      background: #f2f2f2;
      position: relative;
      border-radius: 4px; }
      .about-us .about-content .progress-wrapper .progress-bar .progress1 {
        height: 8px;
        width: 90%;
        background: #ffc050; }
      .about-us .about-content .progress-wrapper .progress-bar .progress2 {
        height: 8px;
        width: 80%;
        background: #6272c7; }
      .about-us .about-content .progress-wrapper .progress-bar .progress3 {
        height: 8px;
        width: 70%;
        background: #ffc050; }

.offer .component-wrapper {
  padding: 30px 50px; }

.offer .offer-logo-wrapper {
  margin-bottom: 16px;
  border: 1px solid #f2f2f2; }
  .offer .offer-logo-wrapper .offer-logo-mobile {
    display: flex;
    align-items: center; }
    .offer .offer-logo-wrapper .offer-logo-mobile img {
      object-fit: contain;
      width: 100%;
      display: block;
      margin: 0 auto; }

.offer .offer-description-wrapper {
  border: 1px solid #f2f2f2; }
  .offer .offer-description-wrapper .offer-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 36px; }
  .offer .offer-description-wrapper .offer-paragraph {
    margin-bottom: 36px; }
  .offer .offer-description-wrapper .offer-list {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-bottom: 36px; }
    .offer .offer-description-wrapper .offer-list > * {
      padding-bottom: 12px;
      display: flex;
      align-items: center; }
    .offer .offer-description-wrapper .offer-list :last-child {
      padding-bottom: 0; }
    .offer .offer-description-wrapper .offer-list img {
      margin-right: 8px;
      object-fit: contain; }

.design {
  border: 1px solid #f2f2f2; }
  .design .component-wrapper {
    padding: 36px; }
    .design .component-wrapper .content-wrapper {
      padding: 0;
      padding-bottom: 36px; }
    .design .component-wrapper .last-design {
      padding-bottom: 0; }
  .design .content-wrapper {
    padding-top: 0; }
    .design .content-wrapper .design-logo {
      display: flex;
      justify-content: flex-end; }
      .design .content-wrapper .design-logo .hello-mobile {
        display: flex; }
      .design .content-wrapper .design-logo .hello-desktop {
        display: none; }
      .design .content-wrapper .design-logo img {
        padding: 0;
        object-fit: contain;
        width: 100%; }
    .design .content-wrapper .design-description .design-title {
      font-size: 22px;
      font-weight: bold;
      line-height: 1.36; }
    .design .content-wrapper .design-description .design-data {
      display: flex;
      color: #333333;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      margin: 12px 0; }
    .design .content-wrapper .design-description .design-text {
      font-size: 16px; }
    .design .content-wrapper .design-description .design-link {
      height: 20px;
      position: relative;
      font-size: 12px;
      line-height: 20px;
      font-weight: bold;
      text-decoration: none;
      color: #333333;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      text-transform: uppercase; }
      .design .content-wrapper .design-description .design-link::after {
        content: "";
        background: url(../images/icon-chevron-right.png) no-repeat center center;
        width: 20px;
        height: 20px; }

.jax-teller {
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f2f2f2;
  background: #fff; }
  .jax-teller .jax-logo {
    margin-bottom: 30px; }
  .jax-teller .jax-description {
    font-size: 14px;
    line-height: 30px;
    display: flex;
    justify-content: left;
    flex-direction: column; }
    .jax-teller .jax-description .jax-text {
      margin-bottom: 20px; }

.logos {
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #f2f2f2; }
  .logos img {
    margin: auto;
    padding: 20px 0; }
  .logos :first-child {
    display: block; }
  .logos > * {
    display: none; }

.start-your-website {
  background: #fae9c9;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 60px 40px; }
  .start-your-website .start-title {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin-bottom: 36px;
    line-height: 1.5; }
  .start-your-website .start-now {
    width: 100%; }

footer {
  background: #081f26;
  padding: 80px 16px 71px;
  color: #fff; }
  footer .footer-section-description {
    font-size: 16px;
    line-height: 1.88; }
  footer .footer-section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 36px; }
  footer .milu {
    margin-bottom: 36px; }
    footer .milu .milu-title {
      margin-bottom: 36px;
      display: inline-block;
      position: relative;
      font-size: 24px;
      font-weight: bold;
      z-index: 1; }
      footer .milu .milu-title::after {
        content: '';
        background: #ffc050;
        position: absolute;
        right: 0;
        left: 0;
        bottom: -3px;
        width: 100%;
        height: 13px;
        z-index: -1; }
  footer .quick-links {
    margin-bottom: 36px; }
    footer .quick-links ul {
      list-style: none;
      padding: 0; }
      footer .quick-links ul li {
        font-size: 16px;
        line-height: 1.88; }
  footer .last-tweet {
    margin-bottom: 36px; }
    footer .last-tweet .twitter-icon img {
      color: blue;
      margin-right: 12px; }
    footer .last-tweet .twitter-wrapper {
      display: flex; }
      footer .last-tweet .twitter-wrapper .twitter-description {
        font-size: 16px;
        line-height: 1.88; }
        footer .last-tweet .twitter-wrapper .twitter-description .data {
          color: #9ca5a8; }
  footer .download-app .stores {
    margin-bottom: 80px; }
    footer .download-app .stores .google-play {
      margin-right: 24px; }
  footer .download-app .social-media {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 71px; }
    footer .download-app .social-media div {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      background: #fff;
      border-radius: 16px;
      margin-right: 16px; }

@media (min-width: 576px) {
  .content-wrapper {
    padding: 0 24px; }
    .content-wrapper .component {
      margin-bottom: 32px; }
  .start-growing .growing-background {
    padding: 44px 166px 44px 34px; }
    .start-growing .growing-background .growing-description .growing-title {
      font-size: 40px; }
    .start-growing .growing-background .growing-description .growing-paragraph {
      font-size: 12px;
      margin-bottom: 20px; }
    .start-growing .growing-background .growing-description .growing-buttons .growing-button, .start-growing .growing-background .growing-description .growing-buttons .growing-button-1, .start-growing .growing-background .growing-description .growing-buttons .start-your-website .start-now, .start-your-website .start-growing .growing-background .growing-description .growing-buttons .start-now {
      margin-right: 20px; }
    .start-growing .growing-background .growing-description .growing-buttons .growing-button-1 {
      display: block; }
  .our-services .component-wrapper {
    padding: 0;
    margin-bottom: 16px; }
  .our-services :last-child {
    margin-bottom: 0; }
  .our-services .content-wrapper {
    padding: 40px 50px; }
    .our-services .content-wrapper .services-img {
      margin-bottom: 40px; }
    .our-services .content-wrapper .services-title {
      font-size: 24px;
      margin-bottom: 20px; }
    .our-services .content-wrapper .services-paragraph {
      font-size: 16px;
      margin-bottom: 40px;
      line-height: 1.88; }
    .our-services .content-wrapper .services-link {
      font-size: 12px; }
      .our-services .content-wrapper .services-link img {
        margin-left: 4px; }
  .about-us .about-logo-wrapper {
    margin-bottom: 16px;
    border: 1px solid #f2f2f2; }
    .about-us .about-logo-wrapper .about-logo {
      margin: 10px; }
      .about-us .about-logo-wrapper .about-logo img {
        object-fit: contain;
        width: 100%; }
  .about-us .about-content {
    border: 1px solid #f2f2f2; }
    .about-us .about-content .about-content-wrapper {
      padding: 50px; }
    .about-us .about-content .about-title {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 36px; }
    .about-us .about-content .progress-wrapper {
      margin-bottom: 20px; }
      .about-us .about-content .progress-wrapper .about-paragraph {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        font-weight: bold; }
        .about-us .about-content .progress-wrapper .about-paragraph p {
          margin-bottom: 0; }
      .about-us .about-content .progress-wrapper .progress-bar {
        height: 8px;
        background: #f2f2f2;
        position: relative;
        border-radius: 4px; }
        .about-us .about-content .progress-wrapper .progress-bar .progress1 {
          height: 8px;
          width: 90%;
          background: #ffc050; }
        .about-us .about-content .progress-wrapper .progress-bar .progress2 {
          height: 8px;
          width: 80%;
          background: #6272c7; }
        .about-us .about-content .progress-wrapper .progress-bar .progress3 {
          height: 8px;
          width: 70%;
          background: #ffc050; }
  .offer .component-wrapper {
    padding: 50px 50px; }
  .offer .offer-logo-wrapper {
    margin-bottom: 16px; }
    .offer .offer-logo-wrapper .offer-logo-mobile {
      padding: 24px;
      display: flex;
      align-items: center; }
      .offer .offer-logo-wrapper .offer-logo-mobile img {
        object-fit: contain;
        width: 100%;
        display: block;
        margin: 0 auto; }
  .offer .offer-description-wrapper {
    border: 1px solid #f2f2f2; }
    .offer .offer-description-wrapper .offer-title {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 36px; }
    .offer .offer-description-wrapper .offer-paragraph {
      margin-bottom: 36px; }
    .offer .offer-description-wrapper .offer-list {
      list-style: none;
      padding: 0;
      margin: 0;
      padding-bottom: 36px; }
      .offer .offer-description-wrapper .offer-list > * {
        padding-bottom: 12px;
        display: flex;
        align-items: center; }
      .offer .offer-description-wrapper .offer-list :last-child {
        padding-bottom: 0; }
      .offer .offer-description-wrapper .offer-list img {
        margin-right: 8px;
        object-fit: contain; }
  .design {
    border: 1px solid #f2f2f2; }
    .design .content-wrapper {
      padding: 36px 36px;
      padding-top: 0; }
      .design .content-wrapper .design-logo {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 20px; }
        .design .content-wrapper .design-logo img {
          padding: 0;
          object-fit: contain;
          width: 100%; }
      .design .content-wrapper .design-description .design-title {
        font-size: 22px;
        line-height: 1.36; }
      .design .content-wrapper .design-description .design-data {
        font-size: 12px;
        margin: 12px 0; }
      .design .content-wrapper .design-description .design-text {
        font-size: 16px; }
      .design .content-wrapper .design-description .design-link {
        font-size: 12px; }
        .design .content-wrapper .design-description .design-link img {
          margin-left: 4px; }
  .jax-teller {
    padding: 40px 60px; }
  .logos {
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #f2f2f2;
    padding: 0 40px; }
    .logos img {
      margin: auto;
      padding: 20px 0; }
    .logos :first-child {
      display: block; }
    .logos :nth-child(2) {
      display: block; }
    .logos > * {
      display: none; }
  .start-your-website {
    background: #fae9c9;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 60px; }
    .start-your-website .start-title {
      text-transform: capitalize;
      font-weight: bold;
      font-size: 32px;
      text-align: center;
      margin-bottom: 36px;
      line-height: 1.5; }
    .start-your-website .start-now {
      width: 80%; }
  footer {
    padding: 80px 16px 0; }
    footer .sm-footer {
      display: flex;
      justify-content: space-between; }
      footer .sm-footer > * {
        flex: 1; }
      footer .sm-footer .milu, footer .sm-footer .last-tweet {
        margin-right: 15px; }
      footer .sm-footer .quick-links, footer .sm-footer .download-app {
        margin-left: 15px; }
    footer .footer-section-description {
      font-size: 16px;
      line-height: 1.88; }
    footer .footer-section-title {
      font-size: 24px;
      margin-bottom: 36px; }
    footer .milu {
      margin-bottom: 36px; }
      footer .milu .milu-title {
        margin-bottom: 36px;
        font-size: 24px; }
        footer .milu .milu-title::after {
          bottom: -3px;
          height: 13px; }
    footer .quick-links {
      margin-bottom: 36px; }
    footer .last-tweet {
      margin-bottom: 36px; }
      footer .last-tweet .twitter-icon img {
        margin-right: 12px; }
      footer .last-tweet .twitter-wrapper .twitter-description {
        font-size: 16px;
        line-height: 1.88; }
    footer .download-app .stores {
      margin-bottom: 80px; }
      footer .download-app .stores > * {
        width: 40%; }
    footer .download-app .social-media {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 71px; }
      footer .download-app .social-media div {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        background: #fff;
        border-radius: 16px;
        margin-right: 16px; } }

@media (min-width: 768px) {
  .content-wrapper {
    padding: 0 24px; }
    .content-wrapper .component {
      margin-bottom: 32px; }
  header {
    margin: 20px 24px; }
  .start-growing .growing-background {
    display: flex;
    padding: 0; }
    .start-growing .growing-background .growing-description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 34px;
      width: 50%; }
      .start-growing .growing-background .growing-description .growing-paragraph {
        font-size: 12px;
        padding-right: 72px;
        margin-bottom: 30px; }
      .start-growing .growing-background .growing-description .growing-buttons .growing-button, .start-growing .growing-background .growing-description .growing-buttons .growing-button-1, .start-growing .growing-background .growing-description .growing-buttons .start-your-website .start-now, .start-your-website .start-growing .growing-background .growing-description .growing-buttons .start-now {
        margin-right: 30px; }
      .start-growing .growing-background .growing-description .growing-buttons .growing-button-1 {
        display: block; }
    .start-growing .growing-background .growing-img {
      width: 50%;
      display: flex;
      margin: 48px 0; }
      .start-growing .growing-background .growing-img img {
        object-fit: fill;
        height: 100%;
        width: 100%; }
  .our-services .component-wrapper {
    margin-bottom: 0; }
  .our-services .content-wrapper {
    padding: 40px 50px; }
    .our-services .content-wrapper .services-img {
      margin-bottom: 40px; }
    .our-services .content-wrapper .services-title {
      font-size: 24px;
      margin-bottom: 20px; }
    .our-services .content-wrapper .services-paragraph {
      font-size: 16px;
      margin-bottom: 40px;
      line-height: 1.88; }
    .our-services .content-wrapper .services-link {
      font-size: 12px; }
      .our-services .content-wrapper .services-link img {
        margin-left: 4px; }
  .about-us .about-logo-wrapper {
    margin-bottom: 16px;
    border: 1px solid #f2f2f2; }
    .about-us .about-logo-wrapper .about-logo-mobile {
      padding: 24px;
      display: flex;
      align-items: center; }
      .about-us .about-logo-wrapper .about-logo-mobile img {
        object-fit: contain;
        width: 100%;
        display: block;
        margin: 0 auto; }
  .about-us .about-content .about-title {
    font-size: 32px;
    margin-bottom: 36px; }
  .about-us .about-content .progress-wrapper {
    margin-bottom: 20px; }
    .about-us .about-content .progress-wrapper .about-paragraph {
      font-size: 14px; }
      .about-us .about-content .progress-wrapper .about-paragraph p {
        margin-bottom: 0; }
    .about-us .about-content .progress-wrapper .progress-bar {
      height: 8px;
      border-radius: 4px; }
      .about-us .about-content .progress-wrapper .progress-bar .progress1 {
        height: 8px;
        width: 90%; }
      .about-us .about-content .progress-wrapper .progress-bar .progress2 {
        height: 8px;
        width: 80%; }
      .about-us .about-content .progress-wrapper .progress-bar .progress3 {
        height: 8px;
        width: 70%; }
  .offer .offer-logo-wrapper {
    margin-bottom: 16px;
    display: flex;
    align-items: center; }
    .offer .offer-logo-wrapper .offer-logo-mobile {
      width: 100%; }
      .offer .offer-logo-wrapper .offer-logo-mobile img {
        object-fit: contain;
        width: 100%;
        display: block;
        margin: 0 auto; }
  .offer .offer-description-wrapper {
    border: 1px solid #f2f2f2; }
    .offer .offer-description-wrapper .offer-title {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 36px; }
    .offer .offer-description-wrapper .offer-paragraph {
      margin-bottom: 36px; }
    .offer .offer-description-wrapper .offer-list {
      list-style: none;
      padding: 0;
      margin: 0;
      padding-bottom: 36px; }
      .offer .offer-description-wrapper .offer-list > * {
        padding-bottom: 12px;
        display: flex;
        align-items: center; }
      .offer .offer-description-wrapper .offer-list :last-child {
        padding-bottom: 0; }
      .offer .offer-description-wrapper .offer-list img {
        margin-right: 8px;
        object-fit: contain; }
  .design {
    border: 1px solid #f2f2f2; }
    .design .component-wrapper .content-wrapper {
      flex: 1; }
    .design .content-wrapper {
      padding: 36px 36px;
      padding-top: 0; }
      .design .content-wrapper .design-logo {
        display: flex;
        align-items: center;
        padding-bottom: 20px; }
        .design .content-wrapper .design-logo .hello-mobile {
          display: none; }
        .design .content-wrapper .design-logo .hello-desktop {
          display: flex; }
        .design .content-wrapper .design-logo img {
          padding: 0;
          object-fit: contain;
          width: 100%; }
      .design .content-wrapper .design-description .design-title {
        font-size: 22px;
        line-height: 1.36; }
      .design .content-wrapper .design-description .design-data {
        font-size: 12px;
        margin: 12px 0; }
      .design .content-wrapper .design-description .design-text {
        font-size: 16px; }
      .design .content-wrapper .design-description .design-link {
        font-size: 12px; }
        .design .content-wrapper .design-description .design-link img {
          margin-left: 4px; }
  .jax-teller {
    padding: 40px 60px; }
    .jax-teller .jax-logo img {
      object-fit: contain;
      width: 80px;
      height: 80px; }
    .jax-teller .jax-description {
      font-size: 18px;
      line-height: 1.67; }
      .jax-teller .jax-description .jax-signature {
        font-size: 14px;
        line-height: 2.14; }
  .logos {
    padding: 0 46px; }
    .logos img {
      margin: auto;
      padding: 40px 0; }
    .logos :first-child {
      display: block; }
    .logos :nth-child(2) {
      display: block; }
    .logos :nth-child(3) {
      display: block; }
    .logos :nth-child(4) {
      display: block; }
    .logos > * {
      display: none; }
  footer {
    padding: 80px 16px 0;
    display: flex; }
    footer .sm-footer {
      flex: 1;
      display: flex;
      justify-content: space-between; }
      footer .sm-footer > * {
        flex: 1; }
      footer .sm-footer .milu, footer .sm-footer .last-tweet {
        margin-right: 15px; }
      footer .sm-footer .quick-links, footer .sm-footer .download-app {
        margin-left: 15px; }
    footer .footer-section-description {
      font-size: 16px;
      line-height: 1.88; }
    footer .footer-section-title {
      font-size: 24px;
      margin-bottom: 36px; }
    footer .milu {
      margin-bottom: 36px; }
      footer .milu .milu-title {
        margin-bottom: 36px;
        font-size: 24px; }
        footer .milu .milu-title::after {
          bottom: -3px;
          height: 13px; }
    footer .last-tweet {
      margin-bottom: 36px; }
      footer .last-tweet .twitter-icon img {
        margin-right: 12px; }
      footer .last-tweet .twitter-wrapper .twitter-description {
        font-size: 16px;
        line-height: 1.88; }
    footer .download-app .stores {
      margin-bottom: 80px; }
      footer .download-app .stores .google-play {
        margin-bottom: 0; }
    footer .download-app .social-media {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 71px; }
      footer .download-app .social-media div {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        background: #fff;
        border-radius: 16px;
        margin-right: 16px; } }

@media (min-width: 992px) {
  .content-wrapper {
    padding: 0 40px; }
  header {
    margin: 20px 40px;
    display: flex;
    justify-content: space-between; }
    header .mobile-nav {
      display: none; }
    header .desktop-nav {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: end; }
      header .desktop-nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center; }
        header .desktop-nav ul li {
          display: inline-block;
          text-transform: uppercase;
          margin: auto 0; }
          header .desktop-nav ul li a {
            padding: 1rem 1.2rem;
            font-family: OpenSans-Bold;
            text-decoration: none;
            color: #858585; }
            header .desktop-nav ul li a:hover {
              color: #333333;
              transition: 300ms; }
      header .desktop-nav .button {
        align-self: center;
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        padding: 12px 24px 12px 24px;
        border-radius: 18px;
        background-color: #6272c7;
        color: #fff;
        border: none; }
  .growing-button, .start-growing .growing-background .growing-description .growing-button-1, .start-your-website .start-now {
    top: 0;
    padding: 16px 35.5px;
    border-radius: 24px;
    font-size: 12px;
    line-height: 1.33;
    border: 0; }
    .growing-button:hover, .start-growing .growing-background .growing-description .growing-button-1:hover, .start-your-website .start-now:hover {
      top: -4px;
      transition: 300ms;
      box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.16); }
  .start-growing {
    margin-top: 40px; }
    .start-growing .growing-background {
      display: flex;
      background: #fef3df;
      padding: 0; }
      .start-growing .growing-background .growing-description {
        margin: 0 4rem; }
        .start-growing .growing-background .growing-description .growing-title-wrapper::after {
          bottom: 25px;
          height: 26px; }
        .start-growing .growing-background .growing-description .growing-title {
          font-size: 40px;
          line-height: 52px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          margin-bottom: 36px; }
        .start-growing .growing-background .growing-description .growing-paragraph {
          font-size: 16px; }
  .our-services {
    display: flex; }
    .our-services .component-wrapper + .component-wrapper {
      margin-left: 36px; }
    .our-services .component-wrapper:hover {
      box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.16);
      transition: 300ms; }
  .about-us {
    display: flex;
    flex-direction: row-reverse; }
    .about-us .content-wrapper {
      padding: 0; }
    .about-us .about-logo-wrapper {
      flex: 1;
      margin-left: 18px;
      margin-bottom: 0;
      display: flex;
      align-items: center; }
      .about-us .about-logo-wrapper .about-logo-mobile {
        padding: 50px; }
    .about-us .about-content {
      flex: 1;
      margin-right: 18px; }
      .about-us .about-content .content-wrapper {
        padding: 50px; }
  .offer {
    display: flex;
    flex-direction: row; }
    .offer .component-wrapper {
      padding: 0; }
    .offer .offer-content-wrapper {
      padding: 50px; }
    .offer .offer-logo-wrapper {
      padding: 0;
      border: 1px solid #f2f2f2;
      flex: 1;
      margin-right: 18px;
      margin-bottom: 0; }
      .offer .offer-logo-wrapper .offer-logo-mobile {
        padding: 50px; }
    .offer .offer-description-wrapper {
      flex: 1;
      margin-left: 18px;
      display: flex;
      align-items: center; }
  .design .component-wrapper {
    display: flex;
    flex-direction: row;
    padding: 36px; }
    .design .component-wrapper > :first-child {
      padding-right: 36px; }
    .design .component-wrapper > :last-child {
      padding-left: 36px; }
    .design .component-wrapper .content-wrapper {
      padding-bottom: 0; }
      .design .component-wrapper .content-wrapper .design-logo {
        padding-top: 0; }
  .jax-teller {
    display: flex;
    flex-direction: row; }
    .jax-teller .jax-logo {
      margin-right: 80px;
      margin-bottom: 0; }
      .jax-teller .jax-logo img {
        height: 200px;
        width: 200px; }
  .start-your-website {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 60px 50px; }
    .start-your-website .start-title {
      font-size: 32px;
      margin-bottom: 0;
      line-height: 1.5; }
    .start-your-website .start-now {
      width: auto;
      margin: 0 !important; }
  footer .content-wrapper {
    display: flex;
    flex-direction: row; }
  footer .download-app .footer-section-description {
    margin-bottom: 36px; } }

@media (min-width: 1200px) {
  .content-wrapper {
    padding: 0 56px; }
  .content-wrapper .component {
    margin-bottom: 40px; }
  header {
    margin: 20px 56px; }
  .start-growing {
    margin-top: 16px;
    padding: 16px;
    margin-bottom: 16px; }
    .start-growing .growing-background {
      display: flex; }
      .start-growing .growing-background .growing-description {
        flex: 1; }
        .start-growing .growing-background .growing-description .growing-title {
          font-size: 52px; }
          .start-growing .growing-background .growing-description .growing-title .growing-underline::after {
            bottom: -5px; }
        .start-growing .growing-background .growing-description .growing-paragraph {
          font-size: 18px;
          padding-right: 0;
          margin-bottom: 40px; }
        .start-growing .growing-background .growing-description .growing-buttons .growing-button-1 {
          display: block; }
  .our-services .component-wrapper {
    padding: 0; }
  .our-services .content-wrapper {
    padding: 40px 50px; }
    .our-services .content-wrapper .services-img {
      margin-bottom: 40px; }
    .our-services .content-wrapper .services-title {
      font-size: 24px;
      margin-bottom: 20px; }
    .our-services .content-wrapper .services-paragraph {
      font-size: 16px;
      margin-bottom: 40px;
      line-height: 1.88; }
    .our-services .content-wrapper .services-link {
      font-size: 12px; }
      .our-services .content-wrapper .services-link img {
        margin-left: 4px; }
  .about-us .about-logo-wrapper .about-logo {
    margin: 10px; }
    .about-us .about-logo-wrapper .about-logo img {
      object-fit: contain;
      width: 100%; }
  .about-us .about-content .about-title {
    font-size: 32px;
    margin-bottom: 36px; }
  .about-us .about-content .progress-wrapper {
    margin-bottom: 20px; }
    .about-us .about-content .progress-wrapper .about-paragraph {
      font-size: 14px; }
      .about-us .about-content .progress-wrapper .about-paragraph p {
        margin-bottom: 0; }
    .about-us .about-content .progress-wrapper .progress-bar {
      height: 8px;
      border-radius: 4px; }
      .about-us .about-content .progress-wrapper .progress-bar .progress1 {
        height: 8px;
        width: 90%; }
      .about-us .about-content .progress-wrapper .progress-bar .progress2 {
        height: 8px;
        width: 80%; }
      .about-us .about-content .progress-wrapper .progress-bar .progress3 {
        height: 8px;
        width: 70%; }
  .offer .component-wrapper {
    padding: 50px 50px; }
  .offer .offer-logo-wrapper {
    padding: 50px 50px;
    display: flex;
    align-items: center; }
    .offer .offer-logo-wrapper .offer-logo-mobile {
      width: 100%; }
      .offer .offer-logo-wrapper .offer-logo-mobile img {
        object-fit: contain;
        width: 100%;
        display: block;
        margin: 0 auto; }
  .offer .offer-description-wrapper {
    border: 1px solid #f2f2f2; }
    .offer .offer-description-wrapper .offer-title {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 36px; }
    .offer .offer-description-wrapper .offer-paragraph {
      margin-bottom: 36px; }
    .offer .offer-description-wrapper .offer-list {
      list-style: none;
      padding: 0;
      margin: 0;
      padding-bottom: 36px; }
      .offer .offer-description-wrapper .offer-list > * {
        padding-bottom: 12px;
        display: flex;
        align-items: center; }
      .offer .offer-description-wrapper .offer-list :last-child {
        padding-bottom: 0; }
      .offer .offer-description-wrapper .offer-list img {
        margin-right: 8px;
        object-fit: contain; }
  .design {
    border: 1px solid #f2f2f2; }
    .design .component-wrapper {
      display: flex; }
      .design .component-wrapper .content-wrapper {
        flex: 1; }
    .design .content-wrapper {
      padding: 36px 36px;
      padding-top: 0; }
      .design .content-wrapper .design-logo {
        display: flex;
        align-items: center;
        padding-bottom: 20px; }
        .design .content-wrapper .design-logo .hello-mobile {
          display: none; }
        .design .content-wrapper .design-logo .hello-desktop {
          display: flex; }
        .design .content-wrapper .design-logo img {
          padding: 0;
          object-fit: contain;
          width: 100%; }
      .design .content-wrapper .design-description .design-title {
        font-size: 22px;
        line-height: 1.36; }
      .design .content-wrapper .design-description .design-data {
        font-size: 12px;
        margin: 12px 0; }
      .design .content-wrapper .design-description .design-text {
        font-size: 16px; }
      .design .content-wrapper .design-description .design-link {
        font-size: 12px; }
        .design .content-wrapper .design-description .design-link img {
          margin-left: 4px; }
  .jax-teller {
    padding: 60px;
    display: flex;
    flex-direction: row; }
    .jax-teller .jax-logo img {
      object-fit: contain;
      width: 200px;
      height: 200px; }
    .jax-teller .jax-description {
      font-size: 18px;
      line-height: 1.67; }
      .jax-teller .jax-description .jax-signature {
        font-size: 14px;
        line-height: 2.14; }
  .logos {
    padding: 0 46px; }
    .logos img {
      margin: auto;
      padding: 40px 0; }
    .logos :first-child {
      display: block; }
    .logos :nth-child(2) {
      display: block; }
    .logos :nth-child(3) {
      display: block; }
    .logos :nth-child(4) {
      display: block; }
    .logos :nth-child(5) {
      display: block; }
    .logos > * {
      display: none; }
  footer {
    padding: 80px 16px 0;
    display: flex; }
    footer .content-wrapper {
      display: flex;
      flex-direction: row; }
    footer .sm-footer {
      flex: 1;
      display: flex;
      justify-content: space-between; }
      footer .sm-footer > * {
        flex: 1; }
      footer .sm-footer .milu, footer .sm-footer .last-tweet {
        margin-right: 15px; }
      footer .sm-footer .quick-links, footer .sm-footer .download-app {
        margin-left: 15px; }
    footer .footer-section-description {
      font-size: 16px;
      line-height: 1.88; }
    footer .footer-section-title {
      font-size: 24px;
      margin-bottom: 36px; }
    footer .milu {
      margin-bottom: 36px; }
      footer .milu .milu-title {
        margin-bottom: 36px;
        font-size: 24px; }
        footer .milu .milu-title::after {
          bottom: -3px;
          height: 13px; }
    footer .last-tweet {
      margin-bottom: 36px; }
      footer .last-tweet .twitter-icon img {
        margin-right: 12px; }
      footer .last-tweet .twitter-wrapper .twitter-description {
        font-size: 16px;
        line-height: 1.88; }
    footer .download-app .stores {
      margin-bottom: 80px; }
    footer .download-app .social-media {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 71px; }
      footer .download-app .social-media div {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        background: #fff;
        border-radius: 16px;
        margin-right: 16px; } }

@media (min-width: 1400px) {
  .content-wrapper {
    padding: 0; }
    .content-wrapper > * {
      margin: 0 auto;
      max-width: 1400px; }
  .content-wrapper .component {
    margin-bottom: 40px; }
  header {
    padding: 20px 0;
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center; }
    header .header-content {
      max-width: 1400px; }
  .header-scrolled {
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
    background-color: #fcfcfc;
    position: fixed;
    top: 0;
    z-index: 999; }
  .start-growing .growing-background .growing-description {
    flex: 1; }
    .start-growing .growing-background .growing-description .growing-title {
      font-size: 52px; }
      .start-growing .growing-background .growing-description .growing-title .growing-underline::after {
        bottom: -7px; }
  .our-services .component-wrapper {
    padding: 0; }
  .our-services .content-wrapper {
    padding: 40px 50px; }
    .our-services .content-wrapper .services-img {
      margin-bottom: 40px; }
    .our-services .content-wrapper .services-title {
      font-size: 24px;
      margin-bottom: 20px; }
    .our-services .content-wrapper .services-paragraph {
      font-size: 16px;
      margin-bottom: 40px;
      line-height: 1.88; }
    .our-services .content-wrapper .services-link {
      font-size: 12px; }
      .our-services .content-wrapper .services-link img {
        margin-left: 4px; }
  .about-us .about-logo-wrapper {
    display: flex;
    align-items: center; }
    .about-us .about-logo-wrapper .about-logo {
      margin: 10px; }
      .about-us .about-logo-wrapper .about-logo img {
        object-fit: contain;
        width: 100%; }
  .about-us .about-content {
    align-items: center;
    display: flex; }
    .about-us .about-content .about-title {
      font-size: 32px;
      margin-bottom: 36px; }
    .about-us .about-content .progress-wrapper {
      margin-bottom: 20px; }
      .about-us .about-content .progress-wrapper .about-paragraph {
        font-size: 14px; }
        .about-us .about-content .progress-wrapper .about-paragraph p {
          margin-bottom: 0; }
      .about-us .about-content .progress-wrapper .progress-bar {
        height: 8px;
        border-radius: 4px; }
        .about-us .about-content .progress-wrapper .progress-bar .progress1 {
          height: 8px;
          width: 90%; }
        .about-us .about-content .progress-wrapper .progress-bar .progress2 {
          height: 8px;
          width: 80%; }
        .about-us .about-content .progress-wrapper .progress-bar .progress3 {
          height: 8px;
          width: 70%; }
  .offer .component-wrapper {
    padding: 50px 50px; }
  .offer .offer-logo-wrapper {
    padding: 50px 50px;
    display: flex;
    align-items: center; }
    .offer .offer-logo-wrapper .offer-logo-mobile {
      width: 100%; }
      .offer .offer-logo-wrapper .offer-logo-mobile img {
        object-fit: contain;
        width: 100%;
        display: block;
        margin: 0 auto; }
  .offer .offer-description-wrapper {
    border: 1px solid #f2f2f2; }
    .offer .offer-description-wrapper .offer-title {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 36px; }
    .offer .offer-description-wrapper .offer-paragraph {
      margin-bottom: 36px; }
    .offer .offer-description-wrapper .offer-list {
      list-style: none;
      padding: 0;
      margin: 0;
      padding-bottom: 36px; }
      .offer .offer-description-wrapper .offer-list > * {
        padding-bottom: 12px;
        display: flex;
        align-items: center; }
      .offer .offer-description-wrapper .offer-list :last-child {
        padding-bottom: 0; }
      .offer .offer-description-wrapper .offer-list img {
        margin-right: 8px;
        object-fit: contain; }
  .design {
    border: 1px solid #f2f2f2; }
    .design .component-wrapper {
      display: flex; }
      .design .component-wrapper .content-wrapper {
        flex: 1; }
    .design .content-wrapper {
      padding: 36px 36px;
      padding-top: 0; }
      .design .content-wrapper .design-logo {
        display: flex;
        align-items: center;
        padding-bottom: 20px; }
        .design .content-wrapper .design-logo .hello-mobile {
          display: none; }
        .design .content-wrapper .design-logo .hello-desktop {
          display: flex; }
        .design .content-wrapper .design-logo img {
          padding: 0;
          object-fit: contain;
          width: 100%; }
      .design .content-wrapper .design-description .design-title {
        font-size: 22px;
        line-height: 1.36; }
      .design .content-wrapper .design-description .design-data {
        font-size: 12px;
        margin: 12px 0; }
      .design .content-wrapper .design-description .design-text {
        font-size: 16px; }
      .design .content-wrapper .design-description .design-link {
        font-size: 12px; }
        .design .content-wrapper .design-description .design-link img {
          margin-left: 4px; }
  .jax-teller {
    padding: 60px 160px;
    display: flex;
    flex-direction: row; }
    .jax-teller .jax-logo img {
      object-fit: contain;
      width: 200px;
      height: 200px; }
    .jax-teller .jax-description {
      font-size: 18px;
      line-height: 1.67; }
      .jax-teller .jax-description .jax-signature {
        font-size: 14px;
        line-height: 2.14; }
  .logos {
    padding: 0 46px; }
    .logos img {
      margin: auto;
      padding: 40px 0; }
    .logos :first-child {
      display: block; }
    .logos :nth-child(2) {
      display: block; }
    .logos :nth-child(3) {
      display: block; }
    .logos :nth-child(4) {
      display: block; }
    .logos :nth-child(5) {
      display: block; }
    .logos > * {
      display: none; }
  footer {
    padding: 80px 16px 0;
    display: flex; }
    footer .content-wrapper {
      display: flex;
      flex-direction: row;
      max-width: 1400px;
      margin: 0 auto; }
    footer .sm-footer {
      flex: 1;
      display: flex;
      justify-content: space-between; }
      footer .sm-footer > * {
        flex: 1; }
      footer .sm-footer .milu, footer .sm-footer .last-tweet {
        margin-right: 15px; }
      footer .sm-footer .quick-links, footer .sm-footer .download-app {
        margin-left: 15px; }
    footer .footer-section-description {
      font-size: 16px;
      line-height: 1.88; }
    footer .footer-section-title {
      font-size: 24px;
      margin-bottom: 36px; }
    footer .milu {
      margin-bottom: 36px; }
      footer .milu .milu-title {
        margin-bottom: 36px;
        font-size: 24px; }
        footer .milu .milu-title::after {
          bottom: -3px;
          height: 13px; }
    footer .last-tweet {
      margin-bottom: 36px; }
      footer .last-tweet .twitter-icon img {
        margin-right: 12px; }
      footer .last-tweet .twitter-wrapper .twitter-description {
        font-size: 16px;
        line-height: 1.88; }
    footer .download-app .stores {
      margin-bottom: 80px; }
      footer .download-app .stores .google-play {
        margin-bottom: 0; }
    footer .download-app .social-media {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 71px; }
      footer .download-app .social-media div {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        background: #fff;
        border-radius: 16px;
        margin-right: 16px; } }
